* {
  box-sizing: border-box;
}

.testimonials-container {
  width: 1440px;
  height: 555px;
  left: 0px;
  top: 0px;
  background: rgba(242, 247, 255, 0.5);
}

.section-testimonials__title {
  display: flex;
  justify-content: center;
}

.testiomonials-title {
  width: 383px;
  height: 64px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  color: #1D2530;
}

.what-they-think {
  display: flex;
}

.testimonials-items h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
}

.testimonials-items p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #18191F;
}





