@tailwind base;
@tailwind components;
@tailwind utilities;

/* import tailwind styles */
@import url(./tailwind.css);

/* import fonst  */
@import url(./fonts.css);

.container {
    margin: 0 auto;
    max-width: 1200px;
    
}

body {
    background-color: #F2F7FF80;
}

.header {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

