@font-face {
    font-family: gilroy;
    src: url("../assets/GilroyFont/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: gilroy-bold;
    font-weight: bold;
    src: url("../assets/GilroyFont/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'gilroy-original';
    font-weight: bold;
    src: url('../assets/gilroy-medium.woff2') format('woff2'),
}

* {
    font-family: gilroy-original, gilroy;
}

.bold {
    font-family: gilroy-bold, gilroy-orginal;
}